@page
@model Demo.Pages.People.createModel
@{
}

<br>
<h2>New People</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-lebel="close"></button>
    </div>
}

<form method="POST">

    <div class="row mb-3">
        <label class="col-sm-3 col-form-lebel">ID</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="id" value="@Model.clientInfo.id">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-lebel">Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" value="@Model.clientInfo.name">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-lebel">Age</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="age" value="@Model.clientInfo.age">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-lebel">Email</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="email" value="@Model.clientInfo.email">
        </div>
    </div>


    @if (Model.successMessage.Length > 0)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>@Model.successMessage</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-lebel="close"></button>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/people/index" role="button">Cancel</a>
        </div>
    </div>
</form>
